# IDE
.idea/
.vscode/

# Bytecode
__pycache__/
*.pyc

# Virtual env
.venv/
env/
venv/

# Logs
*.log

# Data
data/
*.csv

# Web folders
static/
templates/

# Tests and debug
test/
*.tmp

# Игнорировать все файлы, начинающиеся с 'etalon'
etalon*

# Игнорировать файл passwords.json
passwords.json