# Игнорировать специфичные для ОС файлы
.DS_Store          # macOS
Thumbs.db          # Windows

# Игнорировать артефакты Python
__pycache__/       # Кэш байт-кода
*.pyc              # Кэш байт-кода
.Python            # Застаревший файл кэша

# Игнорировать виртуальные окружения
.venv/             # Твое виртуальное окружение
env/               # Другое распространенное имя для venv
venv/              # Еще одно имя для venv

# Игнорировать файлы переменных окружения
.env               # Файлы с конфиденциальными данными

# Игнорировать каталоги IDE
.idea/             # Каталог PyCharm
.vscode/           # Каталог VS Code (если не нужно шарить настройки)
.history/          # Каталог VS Code Local History

# Игнорировать все файлы, начинающиеся с 'etalon'
etalon*

# Игнорировать файл passwords.json
passwords.json

# Игнорировать папку 'data'
data/